.navigation {
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
}

.nav-item {
    margin: 0 0 0 1rem;
}

.nav-item a:hover {
    color: blue;
}

#new-issue {
    font-size: large;
    float: right;
    margin-right: 11rem;
}