.control-buttons {
    float: right;
}

/*.control-buttons button {
    font-size: large;
}*/

/*.issue-details {
    font-size: large;
}*/

/*.issue-details input {
    font-size: medium;
    font-weight: lighter;
}*/

.category-color {
    display: inline-block;
    width: 0.6rem;
    height: 0.6rem;
    border-radius: 100%;
    border: 1px solid;
    margin-right: 0.3rem;
}

.dropdown-item a {
    display: inline-block;
    width: 100%;
}