<button type="button" id="new-issue" [routerLink]="['detail']">
    New Issue
</button>
<ul class="issue-list">
    <li *ngFor="let issue of issues">
        
        <div class="issue-list-item">
            <span class="priority">{{issue.priority}}</span>
            <span class="title"><a class="issue-item-link" routerLink="detail/{{issue.id}}">{{issue.title}}</a></span>
            <span class="creator">{{issue.creator}}</span>   
            <span class="delete"><a (click)="deleteIssue(issue)">x</a></span>             
        </div>
    </li>
</ul>