<div class="filter-bar">
    <label for="filter-priority">Priority: </label>
    <div class="number-input">
        <button class="number-input-button number-input-minus" onClick="this.parentNode.querySelector('input[type=number]').stepDown()"><i class="fa-solid fa-minus"></i></button>
        <input type="number" #priorityFilterValue class="number-input-quantity" min="1" max="10" value="1" id="filter-priority">
        <button class="number-input-button number-input-plus" onClick="this.parentNode.querySelector('input[type=number]').stepUp()"><i class="fa-solid fa-plus"></i></button>
    </div>
    <!--TODO: Add a multi-select for category filters
        <label for="filter-category">Category:</label>
    -->
    <button type="button" class="button" (click)="filterIssues()">Apply Filter</button>
</div>
<div class="dashboard">
    <div *ngFor="let category of categories">
        <div class="category-card" [ngStyle]="{'background-color': category.color}">
            <span class="category-title">{{category.name}}</span>
            <div class="issue" *ngFor="let issue of filteredIssues[category.id!]">
                <a routerLink="/issues/detail/{{issue.id}}">
                    <span class="priority">{{issue.priority}}</span>
                    <span class="issue-title">{{issue.title}}</span>
                </a>
            </div>
        </div>
    </div>
</div>
<!--<div class="categories-bar">
    <app-categories-bar></app-categories-bar>
</div>-->