/*#grid {
    display: grid;
    gap: 1rem;
    grid-template-areas:
        'nav nav'
        'body sidebar'
        'foot foot';
    grid-template-columns: auto 11rem;
    grid-template-rows: 6rem auto 1rem;
    width: 100%;
}*/

#top-bar {
    /*grid-area: nav;*/
    position: fixed;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: 1px solid;
    padding: 0 1rem 1rem 1rem;
    background-color: white;
}

/*#categories-bar {
    grid-area: sidebar;
    height: 60rem; /* Probably make this variable height later? */
/*}*/

#main-view {
    /*grid-area: body;*/
    margin-top: 8rem;
}

#footer {
    /*grid-area: foot;*/
    position: fixed;
    overflow: hidden;
    width: 100%;
    left: 0;
    bottom: 0;
    padding: 1rem;
    border-top: 1px solid;
    background-color: white;
}